* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    background-image: linear-gradient(-25deg, #616161 0%, #96B7C4 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-family: 'Roboto',
        sans-serif;
    font-size: 3rem;
}


img {
    max-width: 200px;
    border-radius: 6px;
    padding: 10px;
}

h3 {
    padding: 0 0 10px 0;
    font-family: 'Roboto',
        sans-serif;
    font-size: 1.5rem;

}

.CTA {
    margin: 30px;
    padding: 10px;
    background-color: #B33030;
    border: 2px solid black;
    cursor: pointer;
    font-family: 'Roboto',
        sans-serif;
    font-size: 1rem;
    border-radius: 4px;
    max-width: 200px;
    color: #000;
    text-decoration: none;

}

.CTA:hover {
    transform: translateY(0) scale(1.1);
    b
}


@media only screen and (max-width: 700px) {}